@page
@model MyProductsWeb.Pages.AddProductModel
@{
	ViewData["Title"] = "Add Product";
}

<h1>Add new Product</h1>
<form method="post">
	<div class="form-group">
		<label asp-for="NewProduct.Id"></label>
		<input asp-for="NewProduct.Id" class="form-control"/>
		<span asp-validation-for="NewProduct.Id"></span>
	</div>
	<div class="form-group">
		<label asp-for="NewProduct.Name"></label>
		<input asp-for="NewProduct.Name" class="form-control" />
		<span asp-validation-for="NewProduct.Name"></span>
	</div>
	<div class="form-group">
		<label asp-for="NewProduct.Amount"></label>
		<input asp-for="NewProduct.Amount" class="form-control" />
		<span asp-validation-for="NewProduct.Amount"></span>
	</div>
	<div class="form-group">
		<label asp-for="NewProduct.Price"></label>
		<input asp-for="NewProduct.Price" class="form-control" />
		<span asp-validation-for="NewProduct.Price"></span>
	</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}